#hero {
    
    height: 100vh;
    background: url("../../assets/images/hero.png") center center fixed;
    background-size: 100% 100% ;
    position: relative;
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    
  }
  
  #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .container {
    padding-top: 110px;
  }
  
  @media (max-width: 992px) {
    #hero .container {
      padding-top: 98px;
    }
  }
  
  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
  
  #hero h1 span {
    color: #3CABD3;
  }
  
  #hero h2 {
    color: #eee;
    margin-bottom: 10px 0 0 0;
    font-size: 22px;
  }
  
  #hero .btns {
    margin-top: 30px;
  }
  
  #hero .btn-menu, #hero .btn-book {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    color: rgb(44, 43, 43);
    border: 2px solid black;
    background-color: #EBEBEB;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  #hero .btn-menu:hover, #hero .btn-book:hover {
    background: #4493B3;
    color: #fff;
  }
  
  #hero .btn-book {
    margin-left: 15px;
  }
  

  