<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>BEHOLD...<span>LEADING TECH</span></h1>
          <h2>LeadingTech offers creative, innovative, intelligent and profitable solutions integrating cutting-edge technologies to support the business model of our
               clients. User-centred design and usability aware developments aim to meet client expectations. 
              Design, development, training and maintenance are the tools to empower their business market.</h2>

          <div class="btns">
            <a href="../../assets/LeadingTech - Brochure.pdf" class="btn-menu animated fadeInUp scrollto">Click here to learn more.</a>

          </div>
        </div>


      </div>
    </div>
  </section>