<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Get in Touch</p>
      </div>
    </div>



    <div class="container" data-aos="fade-up">

      <div class="row mt-5">

        <div class="col-lg-4">
          <div class="info">
            

            

            <div class="email">
              <i class="icofont-envelope"></i>
              <h4>Email:</h4>
              <a href="cosimwork2020@gmail.com"><p>info@example.com</p></a>
            </div>

            <div class="phone">
              <i class="icofont-phone"></i>
              <h4>Call:</h4>
              <a href="+526361150032"><p>+52 6361150032</p></a>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

         <!-- <form  class="php-email-form" id="contact-form" method="post" action="contact-form-handler.php">
            <div class="form-row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" placeholder="Your name" required />
                <div class="validate"></div>
              </div>
              <div class="col-md-6 form-group">
                <input type="text" name="email" class="form-control" placeholder="Email" />
                <div class="validate"></div>
              </div>
            </div>

            <div class="form-group">
              <textarea name="message" class="form-control" placeholder="Message" required></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit" value="Mandar Mensaje" class="form-control submit">Send Message</button></div>
          </form>-->
          <form id="contact-form" method="post" action="contact-form-handler.php">
            <input type="text" name="name" class="form-control" placeholder="Tu nombre" required>
            <br>
            <input type="text" name="email" class="form-control" placeholder="Tu correo electronico">
            <br>
            <textarea name="message" class="form-control" placeholder="Mensaje" required></textarea><br>
            <input type="submit" value="Mandar Mensaje" class="form-control submit">

             









           </form>

        </div>

      </div>

    </div>
  </section>




  

  <script src="main.js"></script>