

  <!-- ======= Cource Details Section ======= -->
  <section id="course-details" class="course-details">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-8">
          <img src="/assets/images/presb4sesquema_1_1080x720.png" class="img-fluid" alt="">
          <img src="/assets/images/presb4s_1080x720.png" class="img-fluid" alt="">
          <h3>DETAILS: "Broker 4 Service Provisions"</h3>
          <p>
             People are always busy, Sometimes automation can help with this.
             By being able  to request and fill service automatically the Broker 4 Service Provisions 
             help localize and establish the conditions to attend your clients needs without human interaction.

          </p>
          <button mat-raised-button  >Contact</button>
        </div>
        <div class="col-lg-4">

          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Type</h5>
            <p><a href="#">Software, Automation</a></p>
          </div>

          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Price Range</h5>
            <p>starting at $999</p>
          </div>

          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Dev-Time</h5>
            <p>4-7months</p>
          </div>


        </div>
      </div>

    </div>
  </section>
