

<section id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Courses</h2>
        <p>Popular Courses</p>
      </div>

      <div class="row" data-aos="zoom-in" data-aos-delay="100">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="course-item">
            <img src="../../assets/images/b4s_533x800.png" class="img-fluid courseimg" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>Broker 4 Service Provision</h4>

              </div>

              <p>Automation of clients frontdesk needs. Attened to your clients (orders,needs,support,reception,thrid-partys) or 
                anything else your business offers all in real-time and remotely </p>
              <div class="trainer d-flex justify-content-between align-items-center">
                
                <button mat-raised-button (click)="showBoostrapModal()" >Learn More</button>

              </div>
            </div>
          </div>
        </div> <!-- End Course Item-->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="course-item">
            <img src="../../assets/images/urbanmobility_800x533.png" class="img-fluid" >
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>Urban Mobility</h4>

              </div>


              <p>Get Updates, Track, Monitor, Real-time Analytics have more control over your Fleets and employees movement than ever before. </p>
              <div class="trainer d-flex justify-content-between align-items-center">
                <button mat-raised-button (click)="showBoostrapModal2()" >Learn More</button>
              </div>
            </div>
          </div>
        </div> <!-- End Course Item-->


      </div>

    </div>
  </section>



  