<section id="specials" class="specials">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <p>Check Our Specials</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#" (click)="tabToggle(1)">Web Application Development</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#" (click)="tabToggle(2)" >Mobile Application Development</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#" (click)="tabToggle(3)">Machine learning optimizations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#" (click)="tabToggle(4)">Design and development of user interfaces</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#" (click)="tabToggle(5)">languages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#" (click)="tabToggle(6)">Prototype Design and Development</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#" (click)="tabToggle(7)">User Experience Evaluation</a>
            </li>                          
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1" *ngIf="showTab == 1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Web App Development</h3>
                  <p class="font-italic">Design, Develop & Deploy Your Businesse's very own web app </p>
                  <p>Automation, Data Collection, Reservations, the sky is the limit take your business to the top today with Leading Tech</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">

                </div>
              </div>
            </div>
            <div class="tab-pane active show" id="tab-2" *ngIf="showTab == 2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Mobile App Development</h3>
                  <p class="font-italic">Android or IOS? Why not both</p>
                  <p>Is there an app for that? Get your idea into to the pockets of your clients today!</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">

                </div>
              </div>
            </div>
            <div class="tab-pane active show" id="tab-3" *ngIf="showTab == 3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Programming languages</h3>
                  <p class="font-italic">Some of the programming languages used at Leading Tech Include but are not limited to:</p>
                  <p>C, C#, C++, Python, Node.JS, PHP, JAVA, JavaScript</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">

                </div>
              </div>
            </div>
            <div class="tab-pane active show" id="tab-4" *ngIf="showTab == 4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>User Interfaces</h3>
                  <p class="font-italic">Modern U.I</p>
                  <p>The future is TODAY. design, develop & deploy your U.I for your projects with Leading Tech </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">

                </div>
              </div>
            </div>
            <div class="tab-pane active show" id="tab-5" *ngIf="showTab == 5">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Machine Learing</h3>
                  <p class="font-italic"> Integrate M.L into your project</p>
                  <p>Machine learning is always part of our design philosophy. The nearly limitless quantity of available data, affordable data storage, and the growth of less expensive and more powerful processing has propelled the growth of machine learning. Now many industries are developing more robust machine learning models capable of analyzing bigger and more complex data while delivering faster, more accurate results on vast scales. 
                      Machine learning tools enable organizations to more quickly identify profitable opportunities and potential risks.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">

                </div>
              </div>
            </div>
            <div class="tab-pane active show" id="tab-6" *ngIf="showTab == 6">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Design and creation of low/high fidelity prototyping</h3>
                    <p class="font-italic">prototyping is important</p>
                    <p>Create a prototype for your project with Leading Tech. Save money,time and understand the problem to solve better. All of the things enable you to have 
                        a better launch/deployment of your businesse's project when the time comes.
                    </p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
  
                  </div>
                </div>
              </div>
              <div class="tab-pane active show" id="tab-7" *ngIf="showTab == 7">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>User Experience</h3>
                    <p class="font-italic">U.X reviews</p>
                    <p>Get professional feedback for your app, website, app. Evaluate user Experience with cuantifiable data and personalized feedback.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
  
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

    </div>
  </section>














